/* styles/Navbar.module.css */
.navbar {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    color: white;
    z-index: 1000;
  }
  
  .navLinks {
    list-style: none;
    font-weight: medium;
    display: flex;
    gap: 2rem;
  }
  
  .navLinks li a {
    text-decoration: none;
    color: white;
    font-weight: medium;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navLinks li a:hover {
    color: #000000; /* Cor de destaque ao passar o mouse */
  }

  .navLinksAbout {
    list-style: none;
    font-weight: medium;
    display: flex;
    gap: 2rem;
  }
  
  .navLinksAbout li a {
    text-decoration: none;
    color: white;
    font-weight: medium;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  .navLinksAbout li a:hover {
    color: #fffff4

    ; /* Cor de destaque ao passar o mouse */
  } 

  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }